<!--
h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, div,body { -webkit-print-color-adjust:exact; }

body {  font-family:Verdana, Arial, 굴림; font-size:11px; }
table { font-family:Verdana, Arial, 굴림; font-size:11px; }
td { font-family:Verdana, Arial, 굴림; font-size:11px; }
a {  color:rgb(51,51,51); text-decoration:none; }
img {
	border:0px none;
}

.ab { cursor:pointer; color:rgb(51,51,51); text-decoration:none; }
.ab:hover {  color:red; background-color:yellow; text-decoration:underline; }
.abb { color:rgb(51,51,51); text-decoration:none; }
.abb:hover {  color:blue; background-color:yellow; text-decoration:underline; }
.nmsw_depts { background-color:#ffffff; }
.inputbox { border-width:1px; border-color:#828282; border-style:solid; }
.inputnl { border-width:0px; padding-top:3px;}
.DotUnderline { border-bottom-width:1px; border-bottom-color:rgb(222,222,222); border-bottom-style:dotted; }

.btn_submit { background-color:#ffe993; border-width:1; border-color:#0092df; border-style:solid; }
.btn_del { background-color:rgb(255,147,147); border-width:1; border-color:rgb(194,234,255); border-style:solid; }
.btn_green {
	background-color:#7dff7d;
	border:1px solid #005300;
}
.btn_blue {
	background-color:#95caff;
	border:1px solid #002e5b;
}
.btn_blu165{
	background-image:url('/img/btn/blu.jpg');
	background-repeat:repeat-x;
	width:165px;
	height:40px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
}
.btn_red {
	color:#ffff00;
	background-color:#ff0000;
	border:1px solid #970000;
}
.btn_gray {
	color:#000000;
	background-color:#cfcfcf;
	border:1px solid #666666;
}

.tx_price {
	font: 11px "Verdana";
	color: #990000;
	text-decoration:
	line-height:20px;
	font-weight:bold;
}

#overlayCover{
	position:absolute ; 
	left:0px; 
	top:0px; 
	width:1px; 
	height:1px; 
	z-index:100000; 
	opacity:0.8;
	filter:alpha(opacity=80);
	background-color: #ffffff;
	display:none;
}

-webkit-print-color-adjust:exact;
-->
